{
  "plugins": ["transform-runtime"],
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "presets": ["react-hmre", "es2015", "stage-0", "react"]
    },
    "production": {
      "presets": ["es2015", "stage-0", "react"]
    }
  }
}
