/************************
  Global start
************************/
*,
*::after,
*::before {
  box-sizing: border-box;
}


html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #f1f4f9;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
	display: inline-block;
	font-size: 1em;
	-webkit-appearance: none;
	box-sizing: border-box;
	border: 1px solid #999;
	border-radius: 0.5em;
	padding: 5px 30px 5px 10px;
	height: 2.4em;
  width: 100%;
  outline: none;
}

.search-container {
  position: relative;
}

.clear-search {
  position: absolute;
  top: 6px;
  right: 17px;
  font-size: 1.8rem;
  cursor: pointer;
}

.container {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.no-data-display,
.loading-data {
  font-size: 2rem;
}
/** drop down styles **/

.select-wrapper-dropdown {
  position: relative;
  padding: 5px;
  background: #fff;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #3a3a3a;
  border: 1px solid #999;
}

.select-wrapper-dropdown::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  right: 15px;
  top: 50%;
  border-width: 6px 6px 0 6px;
  margin-top: -3px;
  border-color: #999 transparent;
}

.select-wrapper-dropdown .options-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  background: #fff;
  border-radius: inherit;
  font-weight: normal;
  transition: all 0.5s ease-in;
  list-style: none;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  border: 1px solid #999;
}

.select-wrapper-dropdown .options-dropdown li {
  padding: 5px;
}

.select-wrapper-dropdown .options-dropdown li:nth-child(even) {
  background-color: #ccc;
  color: #fff;
}

.select-wrapper-dropdown .options-dropdown.active {
  opacity: 1;
  pointer-events: auto;
}

/************************
  Global End.
************************/
.search-section {
  display: flex;
}

.search-container {
  flex: 3 1 0%;
  margin-right: 20px;
}

.select-wrapper-dropdown {
  flex: 1 1 0%;
}
.photo-section {
  margin-top: 20px;
  text-align: center;
}

.photo-group {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-group-item {
  width: 22%;
  margin-right: 4%;
  margin-bottom: 20px;
  overflow: hidden;
}

.photo-group-item figure {
  margin: 0;
}

.photo-group-item img {
  width: 100%;
  height: 150px;
  border-radius: 0.5em;
  transition: all 0.3s ease-out;
}

.photo-group-item img:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.photo-group-item figcaption {
  text-align: right;
  font-size: 1.6rem;
  margin-top: 10px;
}

li.photo-group-item:nth-child(4n+4) {
  margin-right: 0%;
}
